@using Book.App.ViewModels
@using Book.App.Helpers
@model BookViewModel
@{
    var sliderData = new ImageSliderViewModel
            {
                Images = Model.TourModel.Images,
                SliderId = Model.TourModel.Id
            };
}

<li class="list-group-item p-0 mt-3 glassmorphism">
    <div class="d-flex">
        <header class="card-header w-100">
            <partial name="_ImageSliderPartial" model="@sliderData" />
            <a class="text-decoration-none text-primary mt-3 d-block" asp-action="Details" asp-controller="Book"
                asp-route-id="@Model.TourModel.Id">
                <h2>@Model.TourModel.Name</h2>
            </a>
        </header>
    </div>
    <div class="p-3">
        <p class="mt-2">@Model.TourModel.Description.Truncate(250)</p>
        <partial name="_TourStatusPartial" model="@Model" />
        <h5 class="mt-2">Price: <span class="text-danger">@Model.TourModel.Price zł</span></h5>
        <div class="d-flex gap-2">
            <a asp-action="Details" asp-controller="Book" asp-route-id="@Model.TourModel.Id">
                <button class="btn btn-primary">
                    Details
                </button>
            </a>
            @if (Model.TourModel.StartDate > DateTime.Now)
            {
                <form asp-action="Delete" asp-controller="Book" method="post">
                    <input type="hidden" name="id" value="@Model.TourModel.Id" />
                    <button class="btn btn-danger">
                        Cancel this trip
                    </button>
                </form>
            }
        </div>
    </div>
</li>