@using Book.App.Helpers;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Book.App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Book.App.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav
            class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3 d-block">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold text-light" asp-area="" asp-controller="Home"
                    asp-action="Index">
                    <img class="rounded me-2" style="width: 50px;height:50px;" src="~/images/th.jpeg" alt="logo" />
                    Bookmania
                </a>

                <div class="d-flex align-items-center">
                    <partial name="_UserPartial" />
                </div>
            </div>
            <div class="collapse justify-content-between container-fluid">
                <ul class="navbar-nav flex-row">
                    <li class="nav-item pe-2">
                        <a class="nav-link text-light pl-0 @Html.IsActive("Home", "Index")" asp-area=""
                            asp-controller="Home" asp-action="Index">Home <span></span></a>
                    </li>
                    @if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == "Admin")
                    {
                        <li class="nav-item  pe-2">
                            <a class="nav-link text-light @Html.IsActive("Tour", "AddTour")" asp-area=""
                                asp-controller="Tour" asp-action="AddTour">
                                Add Tour
                                <span></span>
                            </a>

                        </li>
                    }
                    <li class="nav-item pe-2">
                        <a class="nav-link text-light @Html.IsActive("Tour", "Tours")" asp-area="" asp-controller="Tour"
                            asp-action="Tours">
                            Tours
                            <span></span>
                        </a>
                    </li>
                    <li class="nav-item pe-2 @Html.IsActive("Book", "Index")">
                        <a class="nav-link text-light" asp-area="" asp-controller="Book" asp-action="Index">
                            Your Book Tours
                            <span></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted position-relative">
        <div class="container">
            &copy; 2024 - Bookmania - All rights reserved
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="~/js/tooltip.js"></script>
    <!-- Toastr -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/js/toastr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
