@using Book.App.Helpers;

@{
    var isAdmin = Html.HasRole("Admin");
}

<div class="collapse justify-content-between container-fluid">
    <ul class="navbar-nav flex-row">
        <div class="d-none d-sm-block">
            <div class="d-flex">
                <li class="nav-item pe-2">
                    <a class="nav-link text-light pl-0 @Html.IsActive("Home", "Index")" asp-area=""
                        asp-controller="Home" asp-action="Index">Home <span></span></a>
                </li>

                @if (isAdmin)
                {
                    <li class="nav-item pe-2">
                        <a class="nav-link text-light @Html.IsActive("Tour", "AddTour")" asp-area="" asp-controller="Tour"
                            asp-action="AddTour">
                            Add Tour
                            <span></span>
                        </a>
                    </li>

                    <li class="nav-item pe-2">
                        <a class="nav-link text-light @Html.IsActive("Agency", "Requests")" asp-area=""
                            asp-controller="Agency" asp-action="Requests">
                            Agency Requests
                            <span></span>
                        </a>
                    </li>
                }
                <li class="nav-item pe-2">
                    <a class="nav-link text-light @Html.IsActive("Tour", "Tours")" asp-area="" asp-controller="Tour"
                        asp-action="Tours">
                        Tours
                        <span></span>
                    </a>
                </li>
                <li class="nav-item pe-2 @Html.IsActive("Book", "Index")">
                    <a class="nav-link text-light" asp-area="" asp-controller="Book" asp-action="Index">
                        Your Book Tours
                        <span></span>
                    </a>
                </li>
            </div>
        </div>
    </ul>
</div>