@model WaypointModel

@using (Html.BeginForm("Edit", "Waypoint", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.TourId)

    <label for="name">Name</label>
    <div class="input-group mt-1 d-flex flex-column">
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control w-100", @placeholder = "Waypoint Name" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "field-validation-error text-danger" })
    </div>

    <label for="Description">Description</label>
    <div class="input-group mt-1 d-flex flex-column">
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control w-100", @placeholder = "Waypoint Description" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "field-validation-error text-danger" })
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
}