@using Book.App.ViewModels
@model WaypointViewModel

@{
    ViewData["Title"] = "Waypoint - " + Model.Waypoint.Name;
    var sliderData = new ImageSliderViewModel
            {
                Images = Model.Waypoint.Images,
                SliderId = Model.Waypoint.TourId
            };
    var index = 0;

}
<div class="glassmorphism p-3 rounded">
    <a class="text-dark" asp-action="Details" asp-controller="Book" asp-route-id="@Model.Waypoint.TourId">
        Go to the tour - <strong class="text-primary">@Model.Waypoint.Tour.Name</strong>
    </a>
</div>

<div class="card mt-3 glassmorphism">
    <header class="card-header text-primary">
        <h2>@Model.Waypoint.Name</h2>
    </header>

    <partial name="_ImageSliderPartial" model="@sliderData" />

    <div class="card-body">
        <p class="alert alert-dark">@Model.Waypoint.Description</p>
        <p>Latitude: <span class="badge bg-primary">@Math.Round(Model.Waypoint.Latitude, 4)</span></p>
        <p>Longitude: <span class="badge bg-primary">@Math.Round(Model.Waypoint.Longitude, 4)</span></p>
    </div>
</div>

@if (Model.Weather != null)
{
    <div class="glassmorphism p-3 rounded mt-3">
        <h1 class="text-primary">Weather - 15 days</h1>
    </div>
    <div class="grid gap-2 flex-wrap mt-3">
        @foreach (var weather in Model.Weather.Days)
        {
            var weatherItemViewModel = new WeatherItemViewModel()
                    {
                        Weather = weather,
                        Index = index
                    };
            <partial name="_WeatherItem" model="@weatherItemViewModel" />
            index++;
        }
    </div>
}
else
{
    <div>
        <span>No weather data available</span>
    </div>
}