@using Book.App.Helpers
@using Book.App.ViewModels
@model TourNavViewModel

@if (Model.TourModel != null)
{
    var waypoint = Model.TourModel.Waypoints.FirstOrDefault();
    var tourAction = Model.IsEdit ? "EditTour" : "Details";
    var tourController = Model.IsEdit ? "Tour" : "Book";

    var galleryAction = Model.IsEdit ? "Edit" : "Details";
    var isGalleryDisabled = !Model.IsEdit && Model.TourModel.Images.Count == 0;

    var waypointAction = Model.IsEdit ? "Edit" : "MapView";
    var isWaypointDisabled = !Model.IsEdit && Model.TourModel.Waypoints.Count == 0;

    var mealAction = Model.IsEdit ? "Add" : "Details";
    var isMealDisabled = !Model.IsEdit && Model.TourModel.Meals.Count == 0;

    var waypointsAction = Model.IsEdit ? "EditWaypoints" : "WaypointsDetails";

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @Html.IsActive(tourController, tourAction)" asp-controller="@tourController"
                asp-action="@tourAction" asp-route-id="@Model.TourModel.Id"
                asp-route-agencyId="@Model.TourModel.TravelAgencyId">Tour</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(isGalleryDisabled ? "disabled" : "") @Html.IsActive("Gallery", galleryAction)"
                asp-controller="Gallery" asp-action="@galleryAction" asp-route-id="@Model.TourModel.Id"
                asp-route-agencyId="@Model.TourModel.TravelAgencyId">Gallery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(isWaypointDisabled ? "disabled" : "") @Html.IsActive("Waypoint", waypointAction)"
                asp-controller="Waypoint" asp-action="@waypointAction" asp-route-agencyId="@Model.TourModel.TravelAgencyId"
                asp-route-id="@Model.TourModel.Id" disabled>Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @(isMealDisabled ? "disabled" : "") @Html.IsActive("Meal", mealAction) @Html.IsActive("Meal", "Edit")"
                asp-controller="Meal" asp-action="@mealAction" asp-route-tourId="@Model.TourModel.Id"
                asp-route-agencyId="@Model.TourModel.TravelAgencyId">Meal</a>
        </li>

        @if (waypoint != null)
        {
            <li class="nav-item">
                <a class="nav-link @Html.IsActive("Waypoint", waypointsAction)" asp-controller="Waypoint"
                    asp-action="@waypointsAction" asp-route-tourId="@Model.TourModel.Id"
                    asp-route-agencyId="@Model.TourModel.TravelAgencyId" asp-route-waypointId="@waypoint.Id">Waypoints</a>
            </li>
        }
        else
        {
            <li data-toggle="tooltip" data-placement="top" title="No waypoints added on map" class="nav-item">
                <a class="nav-link disabled">Waypoints</a>
            </li>
        }
    </ul>
}
else
{
    <p>Couldn't load tour!</p>
}
