@using Book.App.Helpers
@using Book.App.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "BOOKMANIA - Home Page";
}

<div>
    @if (Model.Tour != null && Model.Book != null)
    {
        var sliderData = new ImageSliderModel { Images = Model.Tour.Images, SliderId = Model.Tour.Id };
        <div class="alert alert-primary" role="alert">
            <div class="d-flex">
                <partial name="_ImageSliderPartial" model="@sliderData" />
                <a asp-action="Details" asp-controller="Book" asp-route-id="@Model.Tour.Id">
                    <h4>@Model.Tour.Name</h4>
                </a>
            </div>
            <p data-toggle="tooltip" data-placement="top" title="@Model.Tour.Description">
                @Model.Tour.Description.Truncate(150)</p>
            <partial name="_TourStatusPartial" model="@Model.Book" />
            <strong class="d-flex align-items-center gap-2">
                <ion-icon name="calendar-number"></ion-icon>
                Start at @Model.Tour.StartDate
            </strong>
        </div>
    }

    <div class="text-center">
        <h1>Explore the World with Exciting Tours!</h1>
        <img class="img-fluid rounded mt-4" src="~/images/landscape2.jpg" alt="">
        <p class="mt-4"><span class="h4">W</span>elcome to our world of adventure! Embark on unforgettable journeys and
            discover the beauty of
            diverse
            destinations with our curated selection of tours. Whether you seek cultural immersion, thrilling outdoor
            experiences, or simply a relaxing getaway, we have the perfect itinerary for you. Join us as we delve into
            breathtaking landscapes, delve into rich histories, and create lasting memories. Let's turn your travel
            dreams
            into reality!
        </p>
        <cite>
            <span class="text-primary">"Explore the World with Exciting Tours!"</span> - Your Gateway to Unforgettable
            Adventures.
        </cite>
    </div>
    <button class="btn btn-primary mt-4">
        <a class="text-light text-decoration-none" asp-action="Tours" asp-controller="Tour">
            Explore Tours
        </a>
    </button>
</div>
