@using Book.App.Helpers
@using Book.App.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "BOOKMANIA - Home Page";
}

<div>
    @if (Model.Tour != null && Model.Book != null)
    {
        var sliderData = new ImageSliderViewModel { Images = Model.Tour.Images, SliderId = Model.Tour.Id };

        <div class="alert alert-primary glassmorphism" role="alert" id="tour-info">
            <a class="mt-2 d-block" asp-action="Details" asp-controller="Book" asp-route-id="@Model.Tour.Id">
                <h4>@Model.Tour.Name</h4>
            </a>

            <p data-toggle="tooltip" data-placement="top" title="@Model.Tour.Description">
                @Model.Tour.Description.Truncate(150)
            </p>
            <partial name="_TourStatusPartial" model="@Model.Book" />
            <strong class="d-flex align-items-center gap-2">
                <ion-icon name="calendar-number"></ion-icon>
                Start at @Model.Tour.StartDate
            </strong>
        </div>
    }

    <div class="text-center">
        <h1 class="glassmorphism p-3 rounded text-primary">Explore the World with Exciting Tours!</h1>
        <div class="glassmorphism mt-3 p-3 rounded">
            <figure class="m-0">
                <img class="img-fluid rounded" style="max-height: 450px;" src="~/images/landscape2.jpg"
                    alt="Sample image">
                <figcaption class="text-center mt-2"><cite>Discover the beauty of diverse destinations with our curated
                        selection of tours.</cite>
                </figcaption>
            </figure>
        </div>
        <p class="mt-3 glassmorphism p-3 rounded"><span class="h4">W</span>elcome to our world of adventure! Embark on
            unforgettable
            journeys and
            discover the beauty of
            diverse
            destinations with our curated selection of tours. Whether you seek cultural immersion, thrilling outdoor
            experiences, or simply a relaxing getaway, we have the perfect itinerary for you. Join us as we delve into
            breathtaking landscapes, delve into rich histories, and create lasting memories. Let's turn your travel
            dreams
            into reality!
        </p>
        <cite class="glassmorphism p-3 mt-3 rounded d-block">
            <span class="text-primary">"Explore the World with Exciting Tours!"</span> - Your Gateway to Unforgettable
            Adventures.
        </cite>
    </div>
    <button class="btn btn-primary mt-3">
        <a class="text-light text-decoration-none" asp-action="Tours" asp-controller="Tour">
            Explore Tours
        </a>
    </button>
</div>
