@using Book.App.Helpers;
@using Book.App.ViewModels;
@model NavViewModel

<div class="d-none d-sm-block">
    <div class="d-flex gap-2">
        <a asp-action="UserInfo" asp-controller="User" data-toggle="tooltip" data-placement="bottom"
            title="@Model.Username">
            <partial name="_UserImagePartial" model="@Model.ImagePath" />
        </a>
        <span class="devider-y"></span>
        <a class="d-flex align-items-center" asp-action="Logout" asp-controller="User">
            <strong class="text-light m-0">Logout</strong>
        </a>
        <span class="devider-y"></span>
    </div>
</div>

<div class="dropdown d-block d-sm-none">
    <div class="p-0 pe-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup=" true"
        aria-expanded="false">
        <partial name="_UserImagePartial" model="@Model.ImagePath" />
    </div>
    <div class="dropdown-menu dropdown-menu-right glassmorphism" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item @Html.IsActive("Home", "Index")" asp-area="" asp-controller="Home" asp-action="Index">
            Home
        </a>
        <a class="dropdown-item @Html.IsActive("Tour", "Tours")" asp-area="" asp-controller="Tour" asp-action="Tours">
            Tours
        </a>
        <a class="dropdown-item @Html.IsActive("Book", "Index")" asp-area="" asp-controller="Book" asp-action="Index">
            Your Book Tours
        </a>

        <div class="dropdown-divider" style="border-color: rgb(0, 101, 189);"></div>

        @if (Html.HasRole("Admin"))
        {
            <a class="dropdown-item @Html.IsActive("Agency", "Requests")" asp-area="" asp-controller="Agency"
                asp-action="Requests">
                Agency Requests
            </a>
        }
        <div class="dropdown-divider" style="border-color: rgb(0, 101, 189);"></div>
        @if (Model.AgencyId != 0)
        {
            <a class="dropdown-item @Html.IsActive("Tour", "AddTour")" asp-area="" asp-controller="Tour"
                asp-action="AddTour" asp-route-agencyId="@Model.AgencyId">
                Add Tour
            </a>

            <a class="dropdown-item @Html.IsActive("Agency", "Details")" asp-area="" asp-controller="Agency"
                asp-action="Details" asp-route-agencyId="@Model.AgencyId">
                Agency
            </a>
        }

        <div class="dropdown-divider" style="border-color: rgb(0, 101, 189);"></div>

        <a class="dropdown-item @Html.IsActive("User", "UserInfo")" asp-action="UserInfo" asp-controller="User"
            data-toggle="tooltip" data-placement="bottom" title="@Model.Username">
            <strong>@Model.Username</strong>
        </a>
        <a class="dropdown-item" asp-action="Logout" asp-controller="User">
            <strong class=" m-0">Logout</strong>
        </a>
    </div>
</div>
